@model UserTask
@{
    ViewData["Title"] = "Index";
    List<UserTask> utasks = (List<UserTask>)ViewData["UTasks"];
}

@if (@ViewData["UID"] != null)
{

    @*<div class="d-flex float-lg-right">
        <form asp-controller="Task" asp-action="Search" method="post" >
            <input type="hidden" id="@ViewData[" UID"]" name="userid" />
            <input type="search" id="Search" name="Search" placeholder="Search" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
    </div>*@

    <h1>Hello @ViewData["Name"], Let's Review Your Tasks!</h1>
    <div class="form-group">
        <a href="/Task/AddForm" class="btn btn-primary">Add a Task</a>
        <a href="/Task/Sort" class="btn btn-primary">Order By Farthest Date</a>
        <a href="/Task/Index" class="btn btn-primary">Order By Closest Date</a>
    </div>

    
    <table class="table-hover">
        <tr>
            <th>Task Description</th>
            <th>Task Due Date</th>
            <th>Task Status</th>
            <th>Update Status</th>
            <th>Delete Task</th>
            <th>Edit Task Details</th>
        </tr>
        @foreach (UserTask t in utasks)
        {
    <tr>
        <td>@t.TaskDescription</td>
        <td>@t.DueDate</td>
        @if (t.TaskStatus == 0)
        {
            <td>Incomplete</td>
        }
        else
        {
            <td>Complete</td>
        }

        <td><input type="button" value="Complete" onclick="location.href='@Url.Action("CompleteTask", "Task", new { id = t.Id })'" class="btn btn-dark" /></td>
        <td><a href="/Task/Delete/@t.Id" class="btn btn-dark" onclick="return confirm('Are you sure you want to delete @t.TaskDescription ?')">Delete Task</a></td>
        <td><a href="/Task/Edit/@t.Id" class="btn btn-dark">Edit Task</a></td>

    </tr>
        }
    </table>
    

}
else
{
    <h1>Please Login to view this page!</h1>
}


